@import "../node_modules/modern-normalize/modern-normalize.css";

/* google-sans-code-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Google Sans Code";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/google-sans-code-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  font-family: "Google Sans Code", system-ui, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 251, 246);
}

#main {
  padding: 32px;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 300;
}

footer {
  padding: 16px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  gap: 8px;
  color: rgb(160, 160, 160);

  a {
    color: rgb(75, 75, 75);
  }
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 16px;

  button {
    padding: 0 12px;
    font-weight: 600;
    font-size: 1.2rem;
  }

  label {
    height: 42px;

    .search-icon {
      height: 100%;
    }
  }
}

#searchbar {
  width: 280px;
  height: 42px;
}

.data-container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.data-conditions-container {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 2rem;
}

.data-datetime {
  font-size: 1.1rem;
}

.data-location {
  font-weight: 600;
  font-size: 2.5rem;
}

.data-update-container {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 16px;
  align-items: center;

  button {
    padding: 6px 8px;
    display: flex;
    align-items: center;
  }
}

img {
  user-select: none;
}

button {
  border: 0;
  border-radius: 4px;
  background-color: rgb(255, 255, 174);
  box-shadow: 0 3px 1px black;
  cursor: pointer;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}

button:active {
  transform: translate(0, 2px);
  box-shadow: 0 1px 1px black;
}
